[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap-v5 = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-environ = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
