{% extends 'base.html' %}

{% load bootstrap5 %}

{% block dependence %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

{% endblock %}

{% block body %}
    <div class="card" style="width: 50rem;">
        {% if team.logo %}
            <img src="{{ team.logo.url }}" alt="{{team.name}}">
        {% else %}
            <img src="" class="card-image-top" alt="{{team.name}}">
        {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{ team.name }}</h5>

        <h6 class="card-subtitle mb-2 text-muted">Creador</h6>
        <p class="card-text">{{ team.user.name }}</p>

        <h6 class="card-subtitle mb-2 text-muted">Fecha de creacion</h6>
        <p class="card-text">{{ team.creation_date }}</p>

        <h6>{{ team.team_userT.post }}</h6>

        {% for member in team.team_userT__set.all %}
            <h6>{{ member.name }} -> {{ member.post }}</h6>
        {% endfor %}
    </div>
{% endblock %}

