{% extends 'base.html' %}

{% load bootstrap5 %}

{% block dependence %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

{% endblock %}

{% block body %}

    <form action="" method="post" class="form">
        {% csrf_token %}
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                {% bootstrap_form form %}
                <label><a href="{% url 'register' %}">You do not have an account</a></label>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
        
    </form>

{% endblock %}